* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 750px;
}

.card {
    width: 120px;
    height: 120px;
    background-color: salmon;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotateX(180deg);
    transition: 0.3s;
}

.flip {
    transform: rotateX(0deg);
    background-color: salmon;
}

.flip-front {
    transform: rotateX(180deg);
}

.card-front {
    background-color: sandybrown;
    width: 120px;
    height: 120px;
    transition: 0.3s;
    position: absolute;
    backface-visibility: hidden
}




